<section>
    <div class="moveable" style="left: {{this.pos.x}}px; top: {{this.pos.y}}px">
        <a class="moveable-header"><h3 class="{{this.type}}-header bb">{{this.label}}</h3></a>
    </div>
</section>