<section>
    {{#each nodes as |node|}}
    <div class="moveable"></div>
        <h3 class="moveable-header">{{node.label}}</h3>
    </div>
        {{#each node.branches as |node|}}
            {{> "modules/behaviour_trees/templates/partials/draw_space.hbs"}}
        {{/each}}
    {{/each}}
</section>