<section class="fill bb">
    {{#each nodes as |node|}}
        <div class="moveable">
            <a class="moveable-header"><h3 class="{{node.type}}-header bb">{{node.label}}</h3></a>
        </div>
        {{#each node.branches as |node|}}
            {{> "modules/behaviour_trees/templates/partials/draw_space.hbs"}}
        {{/each}}
    {{/each}}
</section>