.moveable {
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    z-index: 9;
}
.moveable-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
}
.bb {
    border: 1px solid #000;
}
.loop-header {
    background-color: #2dd6d6;
    color: #fff;
}
.fill {
    width: 100%;
    height: 100%;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.perc90 {
    width: 90%
}
.perc80 {
    width: 80%
}
.perc70 {
    width: 70%
}
.perc60 {
    width: 60%
}
.perc50 {
    width: 50%
}
.perc45 {
    width: 45%
}
.perc40 {
    width: 40%
}
.perc30 {
    width: 30%
}
.perc25 {
    width: 25%
}
.perc20 {
    width: 20%
}
.perc12 {
    width: 12%
}
.perc10 {
    width: 10%
}